{% extends "layout.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/speedometer.css') }}" rel="stylesheet">

<div class="pt-4 pb-2 mb-3 border-bottom">
    <h2>Résultat de l'analyse de l'image</h2>
</div>

<style>
.custom-range::-webkit-slider-runnable-track {
  background: linear-gradient(.25turn, red, 30%, yellow, 90%, green);
}

.custom-range::-webkit-slider-thumb {
  background: black;
}

.custom-range::-moz-range-thumb {
background: black;
}

.custom-range::-ms-thumb {
background: black;
}

#bubble-chart{
    transform: scale(0.8);
}


</style>

<div class="card shadow border-0">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div><img src="{{ url_for('static', filename='cars_img/'+filename) }}" width="100%"></div>
            </div>
            <div class="col-lg-8">
                <div class="row align-items-center">
                    <div class="col">
                        <h5>Modèle : <span class="badge bg-primary">{{ predictions[0]['label'] }}</span></h5>
                        <div>
                            <small>Durée du <span class="bg-light rounded">model.predict()</span>  : {{ exec_time_pred }}s</small>
                        </div>
                    </div>
                    <div class="col-5">
                        <h6 class="text-center"><u>Indicateur de fiabilité</u> : {{ predictions[0]['proba'] }}%</h6>
                        <input type="range" class="form-range custom-range" id="customRange1" disabled min="0" max="100" value="{{ predictions[0]['proba'] }}">
                    </div>
                </div>

                <h6 class="mt-4"><u>Classement des 5 meilleures prédictions (en %)</u></h6>
                <canvas id="bar-chart-horizontal" height="80"></canvas>
            </div>
        </div>
    </div>
</div>

{% if car.prix is not none and car.vitesse_max is not none and car.consommation_urbaine is not none and car.consommation_autoroute is not none and car.Emission_de_CO2 is not none %}

<div class="card shadow border-0 mt-5">
    <div class="card-body">
        <h5 class="mb-4">Informations techniques du véhicule</h5>

        <div class="row">
            <div class="col-lg-5">
                <div class="text-center">Consommation en milieu urbain et sur l'autoroute</div>
                <br>
                <canvas id="bar-chart" width="250px"></canvas>
                <br><br><br>
                <div class="text-center">Prix à l'achat</div>
                <br>
                <h4 class="text-center">{{ '{:,}'.format(car.prix).replace(',', ' ') + '€' if car.prix is not none else 'NA' }}</h4>
            </div>
            <div class="col-lg-7">
                <div class="text-center">Pollution du vehicule comparée à la moyenne française (Emission de CO2) : g/km</div>
                <canvas id="bubble-chart" height="100px" width="100px"></canvas>
            </div>
        </div>

    </div>
</div>

<div class="row justify-content-center my-5">
    <div class="col-auto">
        <div class="card shadow border-0">
            <div class="card-body">
                <div class="row">
                    <div class="col px-5">
                        <h6 class="mb-3"><u>Puissance</u></h6>
                        <br><br><br><br><br>
                        <h3>{{ car.Puissance}} cv</h3>
                    </div>
                    <div class="col-auto px-5">
                        <h6 class="text-center mb-3"><u>Vitesse maximale</u></h6>
                        <input id="myValues" value="{{ car.vitesse_max }}" class="d-none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="mt-3"><small>Informations manquantes en base de donnée pour afficher les autres graphiques</small></div>

{% endif %}


{% endblock %}

{% block js %}

    /*--- Graph classement des  prédictions ---*/
    new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar',
        data: {
          labels: [
            "{{ predictions[0]['label'] }}",
            "{{ predictions[1]['label'] }}",
            "{{ predictions[2]['label'] }}",
            "{{ predictions[3]['label'] }}",
            "{{ predictions[4]['label'] }}",
            ],
          datasets: [
            {
              label: "Prediction (%)",
              backgroundColor: ["#3cba9f", "rgba(142,94,162,.7)","#e8c3b9", "rgba(255,221,50,0.6)", "rgba(0,0,0,0.2)"],
              data: [
                {{ predictions[0]['proba'] }},
                {{ predictions[1]['proba'] }},
                {{ predictions[2]['proba'] }},
                {{ predictions[3]['proba'] }},
                {{ predictions[4]['proba'] }}
                ],
                barThickness: 20
            }
          ]
        },
        options: {
          legend: { display: false },
            scales: {
                yAxes: [{
                gridLines: {
                    display:false
                },
                ticks: {
                suggestedMin: 100,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            }
            }]
          }
        }
    });


    /*--- Graph consommation essence ---*/
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
          labels: ["Conso Urbaine : {{car.consommation_urbaine}}L/100km", "Conso Autoroute : {{car.consommation_autoroute}}L/100km"],
          datasets: [
            {
              label: ["Consommation moyenne"],
              backgroundColor: ["#3e95cd", "#8e5ea2"],
              data: [{{car.consommation_urbaine}}, {{car.consommation_autoroute}}],
                barThickness: 40
            }
          ]
        },
        options: {
            legend: { display: false },
        }
    });


    /*--- Graph bulles ---*/
    new Chart(document.getElementById("bubble-chart"), {
        type: 'bubble',
        data: {
          datasets: [
            {
              label: ["Moyenne du véhicule"],
              backgroundColor: "rgba(255,221,50,0.2)",
              borderColor: "rgba(255,221,50,1)",
              data: [{
                x: 1000,
                y: 1000,
                r: {{car.Emission_de_CO2}},
              }]
            }, {
              label: ["Moyenne Française"],
              backgroundColor: "rgba(60,186,159,0.2)",
              borderColor: "rgba(60,186,159,1)",
              data: [{
                x: 1000,
                y: 1000,
                r: 112,
              }]
            },
          ]
        },
        options: {
            plugins: {
                datalabels: {
                    anchor: 'end',
                  labels: {
                    value: {{car.Emission_de_CO2}},
                  }
                }
              },
           scales: {
            yAxes: [{
               gridLines: {
                display:false
               },
               ticks: {
                display: false //this will remove only the label
            }
            }],
            xAxes: [{
                gridLines: {
                    display:false
                   },
                   ticks: {
                    display: false //this will remove only the label

                }
            }]
          }
        }
    });


    /*--- Compteur vitesse max ---*/
    $("#myValues").speedometer({
        divFact: {{ vid_fact_compteur_vitesse }},
        maxVal: {{ 180 if car.vitesse_max is none else car.vitesse_max }},
        dangerLevel: {{ 150 if car.vitesse_max is none else car.vitesse_max-30 }}
    });
    $( document ).ready(function(){
        $("#myValues").change()
    });
{% endblock %}