{% extends "layout.html" %}

{% block content %}

<div class="pt-4 pb-2 mb-3 border-bottom">
    <h2>Modèles référencés en base de données</h2>
</div>

<div class="card shadow border-0">
    <div class="card-body">
        <div class="row justify-content-between mb-3">
            <div class="col-lg-3">
                <small class="text-muted"><b>{{ '{:,}'.format(nb_cars).replace(',', ' ') }}</b> modèles de voitures en base de données</small>
            </div>
            <div class="col-lg-3" style="text-align:right">
                <small class="text-muted"><b>{{ per_page }}</b> modèles affichés par page</small>
            </div>
        </div>
        <table class="table table-bordered table-hover text-center">
            <thead>
            <tr>
                <th class="bg-light">Modèle</th>
                <th class="bg-light">Prix à l'achat</th>
                <th class="bg-light">Capacité réservoir</th>
                <th class="bg-light">Emission CO2</th>
                <th class="bg-light">Nombre de portes</th>
                <th class="bg-light">Puissance</th>
            </tr>
            </thead>
            <tbody>
                {% for car in cars.items %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ '{:,}'.format(car.prix) + ' €' if car.prix is not none else 'NA' }}</td>
                    <td>{{ car.capacit_de_reservoir|string + ' L' if car.capacit_de_reservoir is not none else 'NA' }}</td>
                    <td>{{ car.Emission_de_CO2|string + ' g/Km' if car.Emission_de_CO2 is not none else 'NA' }}</td>
                    <td>{{ car.Nombre_de_porte if car.Nombre_de_porte is not none else 'NA' }}</td>
                    <td>{{ car.Puissance|string + ' cv' if car.Puissance is not none else 'NA' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul class="pagination mt-4 justify-content-center">
            {% if cars.has_prev %}
              <li class="page-item" style="margin-right:10px">
                  <a class="page-link btn btn-sm" href="{{ url_for('cars', page=cars.prev_num) }}">
                      <i class="fa fa-angle-double-left"></i>
                  </a></li>
            {% else %}
              <li class="page-item" style="margin-right:10px">
                  <a class="page-link btn btn-sm disabled" href="#">
                      <i class="fa fa-angle-double-left"></i>
                  </a>
              </li>
            {% endif %}

            {% if cars.has_next %}
              <li class="page-item" style="margin-left:10px">
                  <a class="page-link btn btn-sm" href="{{ url_for('cars', page=cars.next_num) }}">
                      <i class="fa fa-angle-double-right"></i>
                  </a>
              </li>
            {% else %}
              <li class="page-item" style="margin-left:10px">
                  <a class="page-link btn btn-sm disabled" href="#">
                      <i class="fa fa-angle-double-right"></i>
                  </a>
              </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}