{% extends "layout.html" %}

{% block content %}

<div class="pt-4 pb-2 mb-3 border-bottom">
    <h2>Accueil</h2>
</div>

<div class="row mt-4">
    <div class="col-lg-4 text-center">
        <img
                src="{{ url_for('static', filename='img/car_placeholder.jpeg') }}"
                id="img_placeholder"
                width="100%"
                alt="Attention, le fichier choisi n'est pas une image."
        >
    </div>
    <div class="col">
        <h5 class="mb-3">Importer une image d'une voiture</h5>

        <form id="form-prediction" method="POST" action="{{ url_for('car') }}" enctype="multipart/form-data">

            <input class="form-control" type="file" id="img_input" name="car_img" accept="image/*" required>

            <div id="btn-submit" class="mt-5">
                <button class="btn btn-primary" type="submit"><i class="fa fa-code-branch me-1"></i> Lancer la prédiction du modèle de la voiture</button>
            </div>

            <div id="btn-loading" style="display:none" class="mt-5">
                <button class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Prédictions en cours...
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}

    $('#form-prediction').submit(function(){
        $('#btn-submit').hide()
        $('#btn-loading').show()
    })

    $("#img_input").change(function(){
        readURL(this);
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_placeholder').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

{% endblock %}